[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=USER
WorkingDirectory=PATH
EnvironmentFile=PATH/.env

ExecStart=PATH/venv/bin/gunicorn \
             --bind unix:/tmp/DOMAIN.socket \
               superlists.wsgi:application

[Install]
WantedBy=multi-user.target

